<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../test/modernizr-custom.js"></script>
    <script src="./test/vue.js"></script>
    <script src="Draggable.js"></script>
    <style>
        body {
            font-family: Menlo, Consolas, monospace;
            color: #444;
        }
        .item {
            cursor: pointer;
        }
        .bold {
            font-weight: bold;
        }
        ul {
            padding-left: 1em;
            line-height: 1.5em;
            list-style-type: none;
        }
    </style>
</head>
<body>
<!-- item template -->
<script type="text/x-template" id="item-template">
    <li>
        <div v-show="isIdNoNull"
             :class="{bold: isFolder}"
             @click="toggle"
             @dblclick="changeType">
            <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
            <input type="checkbox" />
            {{ treeJson["itemtext"] }}
        </div>
        <ul v-show="open" v-if="isFolder">
            <item
                    class="item"
                    v-for="tree in treeJson.item"
                    :tree-json="tree"
                    v-aco-vue-draggable>
            </item>
        </ul>
    </li>
</script>

<p>(You can double click on an item to turn it into a folder.)</p>

<!-- the demo root element -->
<ul id="demo">
    <item
            class="item"
            :tree-json="treeJsonData">
    </item>
</ul>
<script>
    // demo data
    var treeJson = {
        "@id": "0",
        "itemtext": "",
        "item": [
            {
                "@id": "{455831fc-b922-11de-82a6-b798ab845756}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "10.0 Grubenunglück(1)",
                "item": [
                    {
                        "@id": "{92bcc778-b922-11de-925f-637bb3acfb38}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "keine verschüttete Personen(0)"
                    },
                    {
                        "@id": "{878afce4-b922-11de-b7ef-bf4abca90cc3}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Mit verschütteten Personen(5)",
                        "item": {
                            "@id": "{4df4d288-b96e-11de-ac38-efa52b88833a}",
                            "@child": "1",
                            "@im0": "groups.png",
                            "@im1": "groups.png",
                            "@im2": "groups.png",
                            "itemtext": "Stolle 3(5)"
                        }
                    }
                ]
            },
            {
                "@id": "{e17f6c30-8010-11de-b27d-bfb4fc518770}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "1.0 - Tunnelunfall(4)",
                "item": [
                    {
                        "@id": "{3004788c-e3f8-11de-9a60-4f3640851285}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Alb(0)"
                    },
                    {
                        "@id": "{26efe3c6-e3f8-11de-a90e-c791e89897d8}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Alpen(0)",
                        "item": [
                            {
                                "@id": "{3ea3a480-e3f8-11de-82b7-5f986eb3b6f5}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Gotthard-Tunnel(3)"
                            },
                            {
                                "@id": "{46c2a710-e3f8-11de-9492-5fca8446619b}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "San Bernhardino(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{248fec20-e3f8-11de-9597-93ce2b1bbea5}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "(0)"
                    }
                ]
            },
            {
                "@id": "{8baa50b0-cf7d-11de-a8e3-938d5731dae9}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "1.1 Amok Lauf(1)",
                "item": [
                    {
                        "@id": "{c75c9690-c2d5-11de-8508-97c7c1b39143}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "0.0 Einrichtung Stab(1)",
                        "item": [
                            {
                                "@id": "{d1577006-c2fe-11de-9282-838692645e60}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Führungsgruppe(0)"
                            },
                            {
                                "@id": "{ca70c184-c2fe-11de-a3d4-9bfce27704e8}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Großschadenslage(0)"
                            },
                            {
                                "@id": "{c73d80cc-9aad-11e6-8f8e-0a6e7c669a07}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Stab Flächenlage(0)"
                            },
                            {
                                "@id": "{ccd053e8-9aad-11e6-84f4-0a6e7c669a07}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Stab Punktuelle Lage(2)"
                            },
                            {
                                "@id": "{d95e9b12-c2fe-11de-93fa-2f6548788838}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Technische Einsatzleitung(3)"
                            },
                            {
                                "@id": "{d5c3ed04-c2fe-11de-bc61-c3078acd0032}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Verwaltungsstab(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{9645e71e-cf7d-11de-80fc-37fb52aa6403}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "1.1.1 An Schulen(1)"
                    },
                    {
                        "@id": "{a4f0fed4-cf7d-11de-96bc-538196088d4c}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "1.1.2 Im Krankenhaus(1)"
                    },
                    {
                        "@id": "{de1d8312-cf7d-11de-9977-47a378e5560c}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "1.1.3 Auf der Straße(3)"
                    }
                ]
            },
            {
                "@id": "{53d85bf4-da78-11de-a806-6fee54b36e1e}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "12.0 Vorfall im Kraftwerk(6)"
            },
            {
                "@id": "{e439fd32-8010-11de-9160-6b7ddd9cb466}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "2.0 - Hochwasser(5)",
                "item": [
                    {
                        "@id": "{62281e2a-802c-11de-a578-9b187ca4be6d}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "1. Kleines Hochwasser(2)"
                    },
                    {
                        "@id": "{70e8ab0a-802c-11de-a3cb-17ce2e6e868f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "2. Großes Hochwasser(5)"
                    },
                    {
                        "@id": "{6a31ab90-802c-11de-8540-9bfe22858212}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "3. Mittleres Hochwasser(5)"
                    },
                    {
                        "@id": "{77024f50-802c-11de-8636-dfd6e61d8c12}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Extremhochwasser(4)"
                    }
                ]
            },
            {
                "@id": "{b9ba0fea-8013-11de-8956-9f6d51ee0f3a}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "3.0 Murenabgang(4)",
                "item": {
                    "@id": "{81d7ba54-8032-11de-93d5-2b9f7c102c82}",
                    "@child": "1",
                    "@im0": "groups.png",
                    "@im1": "groups.png",
                    "@im2": "groups.png",
                    "itemtext": "Immenstadt(4)"
                }
            },
            {
                "@id": "{5533b724-802c-11de-a79a-7701cd7e3eba}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "4.0 Pandemie Schweinegrippe(6)"
            },
            {
                "@id": "{07c9c152-8128-11de-8f33-179508694337}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "5.0 Chemieunfall(5)",
                "item": [
                    {
                        "@id": "{2573630c-8128-11de-abed-871a600642e3}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Unfall auf Autobahn(0)",
                        "item": [
                            {
                                "@id": "{3f3f94e0-8128-11de-9ceb-7fe2585208f5}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Geringe Menge Lauge(0)"
                            },
                            {
                                "@id": "{3b1a9e6e-8128-11de-a37d-efd5ba17c6d8}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Geringe Menge Säure(0)"
                            },
                            {
                                "@id": "{4302cae8-8128-11de-9c11-c3879adaaa4b}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Große Menge Lauge(0)"
                            },
                            {
                                "@id": "{473d3684-8128-11de-b8c4-ef737c597133}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Große Menge Säure(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{2c01da8c-8128-11de-b184-0bec7c21c054}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Unfall in Industriegelände(3)",
                        "item": {
                            "@id": "{1d4d6afc-75f2-11e2-8684-00241d52c884}",
                            "@child": "1",
                            "@im0": "groups.png",
                            "@im1": "groups.png",
                            "@im2": "groups.png",
                            "itemtext": "Musterfirma(5)"
                        }
                    }
                ]
            },
            {
                "@id": "{2fce88fe-9187-11e7-a663-305a3a4a863b}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "5.0 Chemieunfall2(0)"
            },
            {
                "@id": "{e5e5a566-8063-11de-af08-efadc6edd5e8}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "6.0 Explosion2(6)",
                "item": {
                    "@id": "{ab93022e-9189-11e7-8cad-305a3a4a863b}",
                    "@child": "1",
                    "@im0": "groups.png",
                    "@im1": "groups.png",
                    "@im2": "groups.png",
                    "itemtext": "Bomb away(4)",
                    "item": {
                        "@id": "{6a39b366-918b-11e7-8029-305a3a4a863b}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Nuclear(0)"
                    }
                }
            },
            {
                "@id": "{6aafb91a-8c0a-11de-8f38-93433cadb447}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "7.0 Flugzeugabsturz(5)",
                "item": [
                    {
                        "@id": "{76a03fce-8c0a-11de-b33f-7f7e42d39884}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Großflugzeug(8)",
                        "item": [
                            {
                                "@id": "{84fa4790-8c0a-11de-bc14-57f6d3fa6183}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Gewässer(8)"
                            },
                            {
                                "@id": "{81134e42-8c0a-11de-b9ed-c3f23e683a79}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Stadtgebiet(4)",
                                "item": {
                                    "@id": "{8e64b0fe-8c0a-11de-888a-83bad7c644a3}",
                                    "@child": "1",
                                    "@im0": "groups.png",
                                    "@im1": "groups.png",
                                    "@im2": "groups.png",
                                    "itemtext": "viele verletzt zu erwarten 2(2)"
                                }
                            },
                            {
                                "@id": "{7c6b367a-8c0a-11de-8e42-3b524b08e3ed}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Unbebautes Gebiet(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{7179cb64-8c0a-11de-9340-db1ddbe80b8c}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Kleinflugzeug(0)"
                    }
                ]
            },
            {
                "@id": "{f822765e-8d6b-11de-bc72-7316809c9b4c}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "8.0 Großbrände(4)",
                "item": [
                    {
                        "@id": "{317c474a-8d6c-11de-9932-53aa1f2b0fd6}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Hochhäuser(4)"
                    },
                    {
                        "@id": "{2d0b0598-8d6c-11de-a751-e36690c3da91}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Hohe Häuser(0)"
                    },
                    {
                        "@id": "{21b577be-8d6c-11de-b163-fb172b1ef473}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Industrie(7)"
                    },
                    {
                        "@id": "{28891370-8d6c-11de-bc60-a70ac2fca2a7}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Privatgebäude(0)"
                    }
                ]
            },
            {
                "@id": "{66796afc-9223-11de-a7dd-4b9c25104960}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "9.0 Waldbrand(2)",
                "item": [
                    {
                        "@id": "{83e04ade-9223-11de-9f02-ef3d3a0895a4}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Ortsnaher Waldbrand(0)",
                        "item": [
                            {
                                "@id": "{a4ab02b8-9223-11de-b193-8b527d08703e}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Bodenfeuer(0)"
                            },
                            {
                                "@id": "{992cece4-9223-11de-ac3d-6b3ff6435246}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Bodenfeuer(0)"
                            },
                            {
                                "@id": "{9d37a978-9223-11de-b102-a70ab93da33b}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Wipfelbrand(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{8bc87758-9223-11de-8a15-0b62d0799f21}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Waldbrand ausserhalb der Ortschaft(0)"
                    }
                ]
            },
            {
                "@id": "{669a48d4-a75f-11de-a7d0-6b46cda335db}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Amoklauf in einer Schule(3)"
            },
            {
                "@id": "{e895c9ba-8010-11de-8a25-937db44a1967}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "A - Region 1(0)",
                "item": [
                    {
                        "@id": "{4ccb20f6-8066-11de-8e54-cfe86120d10b}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Einsatzaktivitäten(0)",
                        "item": [
                            {
                                "@id": "{f437f85e-80cb-11de-85a8-5f5acd94ca52}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Elementarereignis(0)"
                            },
                            {
                                "@id": "{0074ca52-80cc-11de-8b01-7716ac79c585}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Fahrzeugbrand(2)",
                                "item": [
                                    {
                                        "@id": "{20157c3a-80cc-11de-9ffa-7bbec40f1313}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Bus(0)",
                                        "item": [
                                            {
                                                "@id": "{cc6d858c-874c-11de-a2ca-1773b7b9fc01}",
                                                "@child": "1",
                                                "@im0": "groups.png",
                                                "@im1": "groups.png",
                                                "@im2": "groups.png",
                                                "itemtext": "Kleinbus(0)"
                                            },
                                            {
                                                "@id": "{c64330d0-874c-11de-93a2-3b26ab7b74bb}",
                                                "@child": "1",
                                                "@im0": "groups.png",
                                                "@im1": "groups.png",
                                                "@im2": "groups.png",
                                                "itemtext": "Reisebus(4)"
                                            }
                                        ]
                                    },
                                    {
                                        "@id": "{282d57bc-80cc-11de-a10b-a7c669d0c9c0}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Gefahrgut Transporter(0)"
                                    },
                                    {
                                        "@id": "{1a482334-80cc-11de-8cd7-635295f47682}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "LKW, Sattelzug(0)"
                                    },
                                    {
                                        "@id": "{158833e8-80cc-11de-84db-eb9ae78d463e}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "PKW(0)"
                                    }
                                ]
                            },
                            {
                                "@id": "{076c294a-80cc-11de-b315-674844f24e13}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Katastrophenalarm(0)"
                            },
                            {
                                "@id": "{fa6bd682-80cb-11de-9983-ff81ddf49c61}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Verkehrsunfall(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{ce85f2f4-8013-11de-8ff4-5b6eaef31149}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Tagesgeschäft(0)",
                        "item": [
                            {
                                "@id": "{d39a8d32-80cb-11de-bcd9-3b56c5c1f59e}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Einrichtung Gegenverkehr(0)"
                            },
                            {
                                "@id": "{db7cbc54-8013-11de-a0aa-bbea9e01fb09}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Mäharbeiten(0)",
                                "item": [
                                    {
                                        "@id": "{e29ca346-8013-11de-911a-cba7b812c28b}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Bereich 222(2)"
                                    },
                                    {
                                        "@id": "{e966b590-8013-11de-a9a3-0339859439c9}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Bereich 333(0)"
                                    }
                                ]
                            },
                            {
                                "@id": "{cd80e8ec-80cb-11de-97a5-7372b1267de5}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Straßensanierung(0)"
                            },
                            {
                                "@id": "{a93a8196-80cb-11de-96db-3f5c5d003526}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Verkehrszeichenreinigung(0)"
                            }
                        ]
                    }
                ]
            },
            {
                "@id": "{36bfdf9a-54c0-11e7-8380-0209fecc072f}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Ausfall der Produktion Standort Ebersbach(2)",
                "item": [
                    {
                        "@id": "{500a8db0-54c0-11e7-b2ac-0209fecc072f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Halle 1 - Galvanik(1)",
                        "item": [
                            {
                                "@id": "{66f2553a-54c0-11e7-862e-0209fecc072f}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Elektrizität(0)"
                            },
                            {
                                "@id": "{5c009a24-54c0-11e7-a587-0209fecc072f}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Maschinenpark 1(0)",
                                "item": [
                                    {
                                        "@id": "{71199514-54c0-11e7-9f95-0209fecc072f}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Maschine X(0)"
                                    },
                                    {
                                        "@id": "{74c35628-54c0-11e7-b698-0209fecc072f}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Maschine y(0)"
                                    }
                                ]
                            },
                            {
                                "@id": "{637101fe-54c0-11e7-8274-0209fecc072f}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Maschinenpark 2(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{55a3897a-54c0-11e7-be3c-0209fecc072f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Halle 2 Bestückung(0)"
                    }
                ]
            },
            {
                "@id": "{4ee81de2-8031-11de-9375-bb26d44a7f03}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Bereich Bauhof(0)"
            },
            {
                "@id": "{25e5b820-8250-11de-a994-af8c87277dd8}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Bergbau-Unglück(0)",
                "item": [
                    {
                        "@id": "{2edb4e54-8250-11de-8610-0b595321d673}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Über Tage(0)"
                    },
                    {
                        "@id": "{32f6bb5e-8250-11de-80bb-83d95fe2ffa0}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Unter Tage(4)",
                        "item": [
                            {
                                "@id": "{4026bd2e-8250-11de-943e-d786f69c15ff}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Einsturz(3)"
                            },
                            {
                                "@id": "{3af1faa8-8250-11de-97da-2f65de849792}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Explosion(0)"
                            }
                        ]
                    }
                ]
            },
            {
                "@id": "{eb8730d2-8010-11de-bceb-5b4b7e7c7c94}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "B - Region 2(0)"
            },
            {
                "@id": "{6d13858c-5b1a-11e7-9568-0209fecc072f}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Einsatz Fa. Trumpf(1)",
                "item": [
                    {
                        "@id": "{76424f8a-5b1a-11e7-85b5-0209fecc072f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Werk Ditzingen(1)",
                        "item": [
                            {
                                "@id": "{908179fc-5b1a-11e7-99ff-0209fecc072f}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "LAC(1)"
                            },
                            {
                                "@id": "{88b13276-5b1a-11e7-87f4-0209fecc072f}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "PE Blech(0)",
                                "item": [
                                    {
                                        "@id": "{a133a464-5b1a-11e7-a52e-0209fecc072f}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Entwicklung(0)"
                                    },
                                    {
                                        "@id": "{9cc1a142-5b1a-11e7-a71c-0209fecc072f}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Produktion 1(0)"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "@id": "{7b5be5f8-5b1a-11e7-984e-0209fecc072f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Werk Schweiz(0)"
                    }
                ]
            },
            {
                "@id": "{75ebd304-cb8e-11de-bb55-4b33e17de0dd}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Giftgasunfall(1)",
                "item": [
                    {
                        "@id": "{80fea3ac-cb8e-11de-9adc-73102a7f3f77}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Auf der Strasse(0)"
                    },
                    {
                        "@id": "{68078ad8-80d6-11de-9eab-bba47bc555b0}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Hochwasser Asfinag(0)",
                        "item": [
                            {
                                "@id": "{70183f4c-80d6-11de-884f-f7ace9ec8848}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "A21(4)"
                            },
                            {
                                "@id": "{97a03464-8367-11de-a429-c3712a944773}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Großveranstaltungen(0)",
                                "item": [
                                    {
                                        "@id": "{614c8ed4-83a9-11de-b295-dfea7364adb1}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Autorennen(0)"
                                    },
                                    {
                                        "@id": "{129a3020-83a9-11de-9cba-7b22dce6c7d4}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Kirchenveranstaltung(0)"
                                    },
                                    {
                                        "@id": "{042850da-83a9-11de-9260-33e54b10bdae}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Lauf-Veranstaltung(4)",
                                        "item": [
                                            {
                                                "@id": "{5862e462-83a9-11de-a174-0f7a0160eae8}",
                                                "@child": "1",
                                                "@im0": "groups.png",
                                                "@im1": "groups.png",
                                                "@im2": "groups.png",
                                                "itemtext": "Fahrrad-Veranstaltung(0)"
                                            },
                                            {
                                                "@id": "{4ab485f0-83a9-11de-9a70-bbf2ff3ac0f9}",
                                                "@child": "1",
                                                "@im0": "groups.png",
                                                "@im1": "groups.png",
                                                "@im2": "groups.png",
                                                "itemtext": "Marathon-Veranstaltung(5)"
                                            }
                                        ]
                                    },
                                    {
                                        "@id": "{217f73b4-a390-11de-abc4-b31e0b4d959b}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Notlandung(4)"
                                    },
                                    {
                                        "@id": "{f1e4ed70-83a8-11de-a568-7b39667c100d}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Sport-Veranstaltung(0)",
                                        "item": {
                                            "@id": "{d8f687e6-8a4d-11de-8fba-bf8e376e5520}",
                                            "@child": "1",
                                            "@im0": "groups.png",
                                            "@im1": "groups.png",
                                            "@im2": "groups.png",
                                            "itemtext": "Stadion-Veranstaltung > 20.000(3)"
                                        }
                                    },
                                    {
                                        "@id": "{767f2c4a-19ab-11e1-905b-0019997c68c7}",
                                        "@child": "1",
                                        "@im0": "groups.png",
                                        "@im1": "groups.png",
                                        "@im2": "groups.png",
                                        "itemtext": "Strassenfest(1)"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "@id": "{8801f154-cb8e-11de-ad74-87f57a64f385}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "In der Industrie(0)"
                    },
                    {
                        "@id": "{8456914a-cb8e-11de-82ee-cfa614cb9aa7}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "In der Umwelt(0)"
                    },
                    {
                        "@id": "{7d6b1b26-cb8e-11de-827a-2740a63e147d}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "In einer Stadt(0)",
                        "item": [
                            {
                                "@id": "{98daf660-cb8e-11de-89d8-73b73c7028e8}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Bebauungsgebiet Eng(4)"
                            },
                            {
                                "@id": "{9d0715a2-cb8e-11de-9745-670dc51ac6d1}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Bebauung sporadisch(0)"
                            },
                            {
                                "@id": "{9ffd42a4-cb8e-11de-b002-a74b878b2f7c}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Freifläche(0)"
                            }
                        ]
                    },
                    {
                        "@id": "{5ab7c36a-8032-11de-afec-1b3b2b5c0c53}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Lawinenabgang(0)"
                    }
                ]
            },
            {
                "@id": "{aaba0a16-86c8-11de-936b-6fe6eb490138}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Produktion Ruatti Systemtechnik(0)",
                "item": [
                    {
                        "@id": "{b5e70ff6-86c8-11de-bfee-47bf6dad078c}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Führungssystem R.4C(0)",
                        "item": [
                            {
                                "@id": "{e0dfb212-86c8-11de-9658-8726941e9c2c}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Kunde-Update-Installation(1)"
                            },
                            {
                                "@id": "{e89f5692-86c8-11de-9d34-17979dd3bae9}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Kunde-Update-Versand(1)"
                            },
                            {
                                "@id": "{f1b8b00c-86c8-11de-be77-4b2cbbe638bd}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Kunde-Upgrade-Installation(1)"
                            },
                            {
                                "@id": "{cbd10d30-86c8-11de-99a2-534d9502ab2e}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Neukunde-Installation(3)"
                            },
                            {
                                "@id": "{d0935ed6-86c8-11de-aa00-8f663f5f478d}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Neukunde-Versand(3)"
                            }
                        ]
                    },
                    {
                        "@id": "{429633f0-54c0-11e7-b667-0209fecc072f}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Halle 1 - Galvanik(0)"
                    },
                    {
                        "@id": "{bc7cae84-86c8-11de-a5ae-233af77ea402}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Überwachungssystem RuViCon(0)"
                    }
                ]
            },
            {
                "@id": "{4a061e88-ca09-11de-b510-23705e960670}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "Schiffunglück(3)",
                "item": [
                    {
                        "@id": "{5b2440b4-ca09-11de-be2a-5b92320d5350}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Lastschiff(1)",
                        "item": [
                            {
                                "@id": "{53856b34-9248-11e7-9d7f-305a3a4a863b}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Before Havarie im Hafen(1)"
                            },
                            {
                                "@id": "{695f49e4-ca09-11de-a22b-7fe7ee76ef24}",
                                "@child": "1",
                                "@im0": "groups.png",
                                "@im1": "groups.png",
                                "@im2": "groups.png",
                                "itemtext": "Havarie im Hafen(3)"
                            }
                        ]
                    },
                    {
                        "@id": "{53b0e774-ca09-11de-9629-a7e7bdbe19c4}",
                        "@child": "1",
                        "@im0": "groups.png",
                        "@im1": "groups.png",
                        "@im2": "groups.png",
                        "itemtext": "Passagiert-Schiff(0)"
                    }
                ]
            },
            {
                "@id": "{84809ba8-918c-11e7-b019-305a3a4a863b}",
                "@child": "1",
                "@im0": "groups.png",
                "@im1": "groups.png",
                "@im2": "groups.png",
                "itemtext": "TEST(1)"
            }
        ]
    }

    // define the item component
    Vue.component('item', {
        template: '#item-template',
        props: {
            treeJson: null
        },
        data: function () {
            return {
                open: false
            }
        },
        computed: {
            isIdNoNull: function(){
                if(this.treeJson['@id'] == '0') {
                    this.open = true;
                }
                return this.treeJson['@id'] != '0';
            },
            isFolder: function () {
                if(Object.prototype.toString.call(this.treeJson.item) == "[object Object]") {
                    this.treeJson.item = [this.treeJson.item]
                }
                return this.treeJson.item &&
                        (this.treeJson.item.length)
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open
                }
            },
            changeType: function () {
                return false;
                if (!this.isFolder) {
                    Vue.set(this.treeJson, 'item', [])
                    this.addChild()
                    this.open = true
                }
            },
            addChild: function () {
                /*this.model.children.push({
                 name: 'new stuff'
                 })*/
            }
        }
    })

    // boot up the demo
    var demo = new Vue({
        el: '#demo',
        data: {
            treeJsonData: treeJson
        }
    })

</script>
</body>
</html>
